program1/.DS_STORE
program1/program1.zip
program2/.DS_STORE
program2/makefile
program2/program2.zip
program2/p2
program3/.DS_STORE
program3/program3.zip
program3/program3.o
program4/.DS_STORE
program4/program4.zip
program4_backup/
program4/employee.o
program4/taxid.o
program4/testemployee.o
program4/testtaxid.o
program5/.DS_STORE
program5/TestFiles.zip
program5/makefile
program5/Test*.cc
program5/program5.zip
program5/probability.h.gch
program5/a.out
program5/probability.o
program5/fraction.o
program6/program6.zip
program6/program6_mjonker.zip
program6/program6_mjonker/
program6/.DS_STORE
project1/.DS_STORE
project1/project1.zip
project1/problem1
project1/problem2
project1/problem3
project1/program2
project1/program3
project2/.DS_STORE
project2/project2.zip
project2/problem1.zip
project2/problem2.zip
project2/problem3.zip
project3/problem1.zip
project3/problem2.zip
project3/problem3.zip
project3/.DS_STORE
*/.DS_STORE
.DS_STORE
