program1/.DS_STORE
program1/program1.zip
program2/.DS_STORE
program2/makefile
program2/program2.zip
program3/.DS_STORE
program3/program3.zip
program4/.DS_STORE
program4/program4.zip
program4_backup/
program5/.DS_STORE
program5/TestFiles.zip
program5/makefile
program5/Test*.cc
project1/.DS_STORE
project1/project1.zip
project2/.DS_STORE
project2/project2.zip
project2/problem1.zip
project2/problem2.zip
project2/problem3.zip
.DS_STORE
